
# Arquivos auxiliares do LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.sty
**/auto/
**/figuras/
**/_minted-exercicio_*/
*.bcf
*.run.xml

# Latexmk temp files
*.dvi
*.xdv
*.ps
*.tmp.md
*.bib
*.listing

# Ignorar backups de editores
*~
*.bak
*.swp

# Ignorar executaveis
*.out